$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Font
$family-font: "Merriweather", serif;;


// Colors 
$yellow-color: rgba(255, 233, 134, 0.6);
$red-color: rgba(255, 134, 134, 0.8);
$blue-color: rgba(12, 2, 85, 1);
$grey-color: rgba(16, 16, 32, 0.8);