@use '../abstracts/variables' as *;
@use '../base/animations' as *;
@use '../abstracts/mixins' as *;

#reset {
    display: inline-block;
    background-color: $red-color;
    border: 0px;
    border-radius: 28px;
    padding: 14px 28px;
    font-size: 18px;
    color: $blue-color;
    font-weight: 600;
    @include breakpoint(tablet) {
      font-size: 20px;
      padding: 18px 30px;
  };
  @include breakpoint(desktop) {
    font-size: 22px;
    padding: 20px 30px;
  };

    &:hover{
      transform: translate(-3px, -3px);
      transition: translate 2s 1s ease-in;
      transition: font-size 2s 1s ease-in;
      color: $grey-color;
      background-image:     linear-gradient(
           to right, 
           #E7484F,
           #E7484F 16.65%,
           #F68B1D 16.65%,
           #F68B1D 33.3%,
           #FCED00 33.3%,
           #FCED00 49.95%,
           #009E4F 49.95%,
           #009E4F 66.6%,
           #00AAC3 66.6%,
           #00AAC3 83.25%,
           #732982 83.25%,
           #732982 100%,
           #E7484F 100%
          
          
          
         );
       animation: slidebg 2s linear infinite;
     }
}
