@use '../abstracts/variables' as *;
@use '../base/animations' as *;
@use '../abstracts/mixins' as *;

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

#timerWrapper {
    margin-bottom: 30px;
    text-align: center;
}

#boxesContainer {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(tablet) {
        max-width: 600px;
    };
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;

	--angle: 0deg;
	border: 5px solid;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	
	animation: 10s rotate linear infinite;
}


@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }