@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body * {
    font-family: $family-font;
}

h1 {
    font-size: 32px;
    color: $blue-color;
    @include breakpoint(tablet) {
        font-size: 38px;
    };
    @include breakpoint(desktop) {
        font-size: 46px;
      };
}

h2 {
    font-size: 32px;
    @include breakpoint(tablet) {
        font-size: 38px;
    };
    @include breakpoint(desktop) {
        font-size: 40px;
    };
}

p {
    color: $grey-color;
    font-size: 18px;
    @include breakpoint(tablet) {
        font-size: 20px;
    };
    @include breakpoint(desktop) {
        font-size: 22px;
      };
}